*~
# QT-Creator project files
PTrackingBridge.config
PTrackingBridge.creator
PTrackingBridge.creator.user
PTrackingBridge.files
PTrackingBridge.includes
*.txt.user

# ROS compilation directories
bin
build
devel
lib
msg_gen
workspace/src/CMakeLists.txt

# Mergetool files
*.orig

# Sublime workspace files
*.sublime-workspace

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# catking_ignore files
*/CATKIN_IGNORE
